.header{

    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;

    &_show_down_menu{
        display: block;
        // transition: opacity 300ms ease-in-out;
        opacity: 1;
    }

    &_show_down_projects{
        display: block;
        // transition: opacity 300ms ease-in-out;
        padding-bottom: 0;
        opacity: 1;
    }

    &_top_bar{
        width: 100%;
        border-bottom: 0.125rem solid $color_text;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-left: auto;
        margin-right: auto;
    
        background-color: $theme_color_background;
        color: $theme_color_text_front;
        font-weight: normal;


        font-size: $font_med;
        
        transition: opacity 300ms ease-in-out;
        opacity: 0.90;  
        
        @include breakpoint_down(small){
            width: #{"calc(100% - 0.625rem)"};
            margin: 0.3125rem;
            border: 0.125rem solid $color_text;
            border-radius: 0.3125rem;
            padding: 0.3125rem 1.25rem;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
        }
    
        &_remove_radius{
            margin-bottom: 0;
        }
    
        &.more_opacity{
            opacity: 0.95;
        }

        &_project_color{
            background-color: #f9e8a5;
            color: black;
        }
    }

    nav{
        padding-left: #{"calc( max( 100% - (2.5rem + 93.75rem) , 2.5% ) / 2 )"};
        padding-right: #{"calc( max( 100% - (2.5rem + 93.75rem) , 2.5% ) / 2 )"};
        margin-left: auto;
        margin-right: auto;

    }

    &_logo{
        img{
            height: 2.5rem;
        }

        @include breakpoint_down(small){
            img{
                height: 2.063rem;
            }
        }
    }

    &_menu{  // Mobily menu

        > span {
            display: block;
            width: 1.875rem;
            height: 0.125rem;
            background-color: white;
            transition: all 300ms ease-in-out;
            &:not(:last-child){
                margin-bottom: 0.25rem;
            }
        }

        .change_color_span{
            background-color: black;
        }

        &_add_margin_right{
            margin-right: 0.625rem;
        }

        &.open{
            > span:first-child{
                -webkit-transform: rotate(-45deg) translate(-0.25rem, 0.25rem);
                transform: rotate(-45deg) translate(-0.25rem, 0.25rem);
            }
            > span:nth-child(2){
                opacity: 0;
            }
            > span:last-child{
                -webkit-transform: rotate(45deg) translate(-0.25rem, -0.25rem);
                transform: rotate(45deg) translate(-0.25rem, -0.25rem);
            }
        }


    }

    &_links{
        a, a:visited{
            color: inherit;
            padding: 0.3125rem;
            padding-top: 0.525rem;
            padding-bottom: 0.525rem;
            transition: color 200ms ease-in-out;
            &:not(:last-child){
                margin-right: 0.3125rem;
            }
        }
        
        a:hover{
            color: $theme_color_link_hover;
        }

        a.selected{
            border-radius: 0.3125rem;
            background-color: $theme_color_link_selected_background;
            color: $theme_color_link_selected_text;
            // font-weight: bold;
        }
        
        a.disable{
            // pointer-events: none;
            cursor: default;
        }

    }

    &_menu_links{

        display: block;

        margin-top: 0.625rem;
        
        margin: 0.3125rem;
        border: 0.125rem solid $color_text;
        border-radius: 0.3125rem;
        padding: 1.25rem;
        background-color: $theme_color_background;
        color: $theme_color_text_front;
        opacity: 0.95;
        text-align: center;
        font-weight: bold;
        font-size: $font_med;

        a{
            width: 100%;
            transform: translate(0%,0);
            // padding-left: 0.3125rem;
            // padding-right: 0.3125rem;
            padding-top: 0.9375rem;
            padding-bottom: 0.9375rem;
            display: block;
            color: inherit;
        }

        a.selected{
            border-radius: 0.3125rem;
            background-color: $theme_color_link_selected_background;
            color: inherit;
        }

        &_closed{
            display: none;
        }
    }

    &_projects_links{

        display: block;
        width: 25rem;
        margin-top: 0.3125rem;
        margin-right: #{"calc(8.125rem +  max( 100% - (2.5rem + 93.75rem) , 2.5% ) / 2 )"};
        margin-left: auto;
        border: 0.125rem solid black;
        border-radius: 0.3125rem;
        padding: 0rem;
        text-align: center;
        background-color: $theme_color_background;
        color: $theme_color_text_front;
        opacity: 0.95;

        font-size: $font_small;

        

        &_project_color{
            background-color: #f9e8a5;
            color: black;
        }

        a{
            width: 90%;
            transform: translate(5%,0);
            display: block;
            padding-left: 0rem;
            padding-right: 0rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            color: inherit; 

            &:first-child{
                padding-top: 0.9375rem;
                padding-bottom: 0.9375rem;
            }
            &:nth-child(2){
                margin-top: 0.3rem;
            }
            &:last-child{
                margin-bottom: 0.3rem;

            }
        }

        a:hover{
            color: $theme_color_link_hover;
        }

        a.selected{
            border-radius: 0.3125rem;
            background-color: rgb(39, 39, 39);
            color: $color_background;
            font-weight: bold;
        }

        a.caption{
            pointer-events: none;
            cursor: default;
            border-bottom: 0.125rem solid black;
            font-weight: bold;
            font-size: $font_med;
        }

        &_closed{
            display: none;
        }
    }
}