.selected_projects {
    max-width: 93.75rem;
    padding-top: 3.125rem;
    padding-bottom: 0;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    @media only screen and (max-width: #{calc(1.25rem + 93.75rem)}) {
        padding-left: #{"calc(1.25rem - ( ( 1.25rem + 93.75rem - 100% ) / 50 ) )"};
        padding-right: #{"calc(1.25rem - ( ( 1.25rem + 93.75rem - 100% ) / 50 ) )"};
    }
    margin-left: auto;
    margin-right: auto;

    a, a:visited, a:hover{
        text-decoration: underline;
    }
}

.row_project{

    &::after {
        content: "";
        clear: both;
        display: block; 
    }

    &_picture {
        padding: block;
        float: left;
        width: 30%;
        text-align: left;  

        @include breakpoint_down(small){
            width: 100%;
            text-align: center; 
            padding-bottom: 2.5rem;
        }
     
        img{
            width: #{"min(95%,15rem)"};
        }
    }

    &_papers {
        padding: block;
        float: left;
        width: 65%;
        text-align: left;

        @include breakpoint_down(small){
            width: 100%;
        }        
        padding-left: 0.9375rem;
    }


}