
.background_light{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: $theme_second_background_color;
}

.update_date{
    p{
        font-style: italic;
        text-align: center;
        font-size: $font_small;
        padding: 0px;
    }
}

.body_intro {
    padding-top: 4.688rem;
    padding-bottom: 1.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-left: #{"calc( max( 100% - (2.5rem + 93.75rem) , 2.5%  ) / 2 )"};
    padding-right: #{"calc( max( 100% - (2.5rem + 93.75rem) , 2.5%  ) / 2 )"};
    margin-left: auto;
    margin-right: auto;

    @include breakpoint_down(small){
        padding-top: 4.688rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.my_picture{
    width: #{"min(80%, 11.875rem)"};
    @include breakpoint_down(small){
        width: #{"min(calc(100% * 0.6),11.875rem)"};
    }
}


.row_bio{

    &::after {
        content: "";
        clear: both;
        display: block;
    }

    &_picture_contact {
        float: left;
        width: 30%;
        padding-right: 1.25rem;
        @include breakpoint_down(small){
            width: 100%;
            //float: center;
            padding-bottom: 1.875rem;
            padding-right: 0;
        }       
    }

    &_bio {
        float: left;
        width: 65%;
        @include breakpoint_down(small){
            width: 100%;
            //float: center;
            padding-bottom: 1.875rem;
        }   

        &_news {
            p{
                margin-top: 1.25rem;
                margin-bottom: 0;
                color: $theme_color_link_hover;
            }
            ul {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    &_papers {
        float: left;
        width: 65%;
        @include breakpoint_down(small){
            width: 100%;
        }
        padding-left: 10.3125rem;
    }
}


  