.students {
    padding-top: 3.125rem;
    padding-bottom: 0;
    padding-right: #{"calc(6.25rem - ( max(0, ( 93.75rem - 100% ) ) / 10 ) )"};
    padding-left: #{"calc(6.25rem - ( max(0, ( 93.75rem - 100% ) ) / 10 ) )"};

    @include breakpoint_down(small){
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.student {
    position: relative;
    width: 8.125rem;
    padding: 0.625rem;
    display: inline-block;
    z-index: 2;
    @include breakpoint_down(small){
      width: 2.25rem;
    }
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .15s ease;
  backface-visibility: hidden;
  z-index: 2;
}

.middle {
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.student:hover .image {
  opacity: 0.3;
}

.student:hover .middle {
  opacity: 1;
}

.text {
  background-color: #1c2536;
  color: rgb(161, 161, 161);
  font-size: $font_small;
  padding: 0.75rem 1.5rem;
  z-index: 2;
}

@media screen and (max-width: 760.3125rem) { 

  .student {
    width: 13.125rem;
    padding: 0;
  }

}