// colors
$theme_color_background: hsl(219.2,31.7%,16.1%);
$theme_color_text_front: #e9e9e9;
$theme_color_link_hover: #ed1c24;
$theme_color_link_selected_background: #ed1c24;
$theme_color_link_selected_text: hsl(219.2,31.7%,16.1%);
$theme_second_background_color: hsl(217.5,34.8%,91%);
$color_background: hsl(0,0%,100%);
$color_text: hsl(0,0%,0%);

// font sizes
$font_llarge: 2.25rem;
$font_large: 1.25rem;
$font_med: 1.0rem;
$font_small: 0.938rem;

// mobile vs desktop
$min_width_desktop: 37.5rem;