html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.0;
  font-family: Helvetica;
  color: black;
  font-size: 1.125rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375rem) {
  .hide_for_mobile {
    display: none;
  }
}

@media (min-width: 40rem) {
  .hide_for_desktop {
    display: none;
  }
}

.header {
  position: absolute;
  width: 100%;
  font-size: 1.125rem;
  z-index: 10;
}

.header nav {
  padding: 0.3125rem 1.25rem;
  background-color: #1c2536;
  opacity: 0.85;
  border-bottom: 0.125rem solid black;
}

@media (max-width: 39.9375rem) {
  .header nav {
    margin: 5px;
    border-radius: 5px;
    height: 50px;
  }
}

.header nav.remove_radius {
  margin-bottom: 0px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
}

.header_logo img {
  height: 2.5rem;
}

@media (max-width: 39.9375rem) {
  .header_logo img {
    height: 30px;
  }
}

.header_menu > span {
  display: block;
  width: 1.875rem;
  height: 0.125rem;
  background-color: #a1a1a1;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header_menu > span:not(:last-child) {
  margin-bottom: 0.25rem;
}

.header_menu.open > span:first-child {
  -webkit-transform: rotate(-45deg) translate(-0.25rem, 0.25rem);
  transform: rotate(-45deg) translate(-0.25rem, 0.25rem);
}

.header_menu.open > span:nth-child(2) {
  opacity: 0;
}

.header_menu.open > span:last-child {
  -webkit-transform: rotate(45deg) translate(-0.25rem, -0.25rem);
  transform: rotate(45deg) translate(-0.25rem, -0.25rem);
}

.header_links a, .header_links a:visited {
  color: #a1a1a1;
  padding: 0.3125rem;
  padding-top: 0.525rem;
  padding-bottom: 0.525rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header_links a:not(:last-child), .header_links a:visited:not(:last-child) {
  margin-right: 0.3125rem;
}

.header_links a:hover {
  color: #1e6ddb;
}

.header_links a.selected {
  border-radius: 0.3125rem;
  background-color: black;
  color: #e6e6e6;
  font-weight: bold;
}

.header_menu_links {
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  background-color: #a1a1a1;
  text-align: center;
}

.header_menu_links a {
  width: 80%;
  -webkit-transform: translate(10%, 0);
          transform: translate(10%, 0);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: #1c2536;
}

.header_menu_links a.selected {
  border-radius: 5px;
  background-color: black;
  color: #e6e6e6;
  font-weight: bold;
}

.header_menu_links.close {
  display: none;
}
/*# sourceMappingURL=style.css.map */