# SPDX-FileCopyrightText: 2026 Pedro Miraldo
#
# SPDX-License-Identifier: MIT

*.json
!package.json
!package-lock.json
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
projects/.DS_Store
project_gif/.DS_Store
uv.lock
.venv/
node_modules/
.codex
.agents
